* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #e0f7fa;
  color: #333;
}

header {
  position: relative;
}

#header-overlay {
  height: 100vh;
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

#intro {
  position: absolute; 
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
}

#intro h3 {
  font-size: 50px;
  color: #4682b4;
}

#intro a {
  border: 1px solid #607d8b;
  padding: 10px 30px;
  position: relative;
  transition: .3s ease-in-out;
}

#button-container {
  position: relative;
  text-align: center;
}

#button-overlay {
  height: 40px;
  width: 0;
  position: absolute;
  background: rgba(255, 255, 240);
  transition: .3s ease-in-out;
}

#menu-button-container {
  position: fixed;
  top: 20px;
  right: 20px;
}

#menu-button {
  cursor: pointer;
}

#menu-button div {
  height: 3px;
  width: 30px;
  background: rgba(0, 0, 255);
  margin: 4px 0;
  transition: .4s ease-in-out;
}

#menu-overlay {
  position: absolute;
  height: 0;
  width: 100%;
  background: rgba(0, 0, 255, 0.5);
  transition: .5s ease-in;
}

#nav-container {
  position: absolute;
  top: 60px; 
  right: 20px;
  z-index: 2000;
}

#nav-container ul {
  list-style: none;
}

.hidden {
  display: none;
}

#image img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 820px;
}

.first-character {
  float: left;
  font-size: 84px;
  line-height: 64px;
  padding-top: 4px;
  padding-right: 8px;
}

#text {
  padding: 18px 38px;
}
